{{!-- Edit-Post Page --}}
<article id="edit-post">
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2 class="edit-post-header">
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div class="edit-post-title">
      <label class="post_title" for="post-title">Title</label>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div class="edit-post-text">
      <label class="post_desc" for="post-text">Description</label>
      <textarea name="post-text">{{post.post_text}}</textarea>
    </div>
    <div class="edit-buttons">
      <button type="submit">Save post</button>
      <button type="button" class="delete-post-btn">Delete post</button>
    </div>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>