/* Check Back soon for styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root {
    --primary-color: White;
    --secondary-color: rgb(43,171,255);
    --tertiary-color: rgba(43,171,255,0.4);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Header styling */
header {
    background-color: var(--secondary-color);
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(1, 30, 75);
    margin: 0;
    display: flex;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: rgb(1, 30, 75);
}

header nav {
    margin: 7px 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: 600;
    font-size: 1.5vw;
}

header nav ul li a:hover{
    background: white;
    color: black;
    border-radius: 15px;
}

header nav ul li button{
    padding: 10px 15px;
    color: rgb(1, 30, 75);
    font-weight: 600;
    font-size: 1.5vw;
    border: none;
    background-color: var(--secondary-color);
    cursor: pointer;
}

header nav ul li button:hover{
    background: white;
    color: black;
    border-radius: 15px;
}

/* Post Card Styling */
#post-list {
    background-color: white;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.post {
    background-color: var(--tertiary-color);
    padding-top: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px gray;
}

.post a {
    color: black;
}

.post .title {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.post .post_text {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.post .date {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

.single-post {
    margin: 10px;
}

.single-post .post_text {
    font-size: 22px;
}

/* Comment Section Styling */
.comment-form {
    background-color: var(--tertiary-color);
    padding-top: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px gray;
}

.comments {
    background-color: white;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.comment {
    background-color: var(--tertiary-color);
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px gray;
}

.comment-header {
    font-size: 24px;
    font-weight: bold;
    margin-left: 14px;
}

.comment .meta {
    font-size: 12px;
    margin-left: 8px;
}
.comment .text {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.comment-form textarea {
    width: 98%;
    margin-left: 10px;
}

.submit-button {
    margin: 0 0 10px 10px;
    padding: 3px;
    cursor: pointer;
}

/* Dashboard Styling */
.dashboard h2 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 14px;
}

.new-post-form {
    background-color: var(--tertiary-color);
    padding-top: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px gray;
}

.new-post-form label {
    font-size: 22px;
    margin-left: 10px;
}

.new-post-form input {
    width: 40%;
}

.new-post-form textarea {
    width: 98%;
    margin-left: 10px;
}

.new-post-form .post_desc {
    display: flex;
    justify-content: center;
}

.your-posts h2 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 14px;
}

.edit a {
    margin-left: 10px;
}

/* Edit-Post Styling */
.edit-post-header {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

#edit-post a {
    font-size: 20px;
    margin-left: 10px;
}

.edit-post-form {
    background-color: var(--tertiary-color);
    padding-top: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px gray;
}

.edit-post-form textarea {
    width: 98%;
    margin-left: 10px;
}

.edit-post-form input {
    width: 40%;
    margin: 10px;
}

.edit-buttons {
    display: flex;
    justify-content: center;
}

.edit-buttons button {
    padding: 5px;
    margin: 0 10px 10px 10px;
    cursor: pointer;
}

.edit-post-text .post_desc {
    margin-left: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.edit-post-title .post_title {
    margin-left: 10px;
    font-size: 20px;
}